<%= render template: 'shared/navbar' %>
<div class="row justify-content-center">
  <h1>Contact Us!</h1>
</div>
<div class="row">
  <div class="col-sm-6 offset-sm-3 static-page-wrapper">
    <%= display_form %> 
  </div>
</div>
