<%= render template: 'shared/navbar' %>

<div class="row index-wrapper">
  <div class="col-sm-10 offset-sm-1">
    <h1>Your Saved Giving Links:</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 offset-sm-1">
    <div class="row">
      <%= render partial: 'givings/giving_box', collection: @givings, as: :article %>
    </div>
  </div>
</div>
