<%= render template: 'shared/navbar' %>

<div class='row '>
  <div class='col-sm-8 offset-sm-2'>
    <h1>Add New Video Article</h1>
  </div>
  <div class="col-sm-2">
    <%= link_to "Cancel", videos_path %>
  </div>
</div>

<%= render partial: 'form', locals: { video: @video } %>
