<%= render template: 'shared/navbar' %>

<div class="row ">
  <div class="col-sm-8 offset-sm-2">
    <h1>Add New Spotlight</h1>
  </div>
  <div class="col-sm-2">
    <%= link_to "Cancel", spotlights_path %>
  </div>
</div>

<%= render partial: 'form', locals: { spotlight: @spotlight } %>
