<%= render template: 'shared/navbar' %>

<div class="row">
  <div class="col-sm-10 offset-sm-1">
    <h1>Your Saved Spotlight Links:</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 offset-sm-1">
    <div class="row">
      <% @spotlights.each do |x| %>
        <%= render partial: "shared/spotlight_box", locals: { article: x } %> 
      <% end %>
    </div>
  </div>
</div>
