body {
  font-family: 'Amatic SC';
}


.headline-text,
.blurb-text {
   font-family: 'Raleway';
}

body a {
  color: black;
}

.home-wrapper h1 {
  margin: 0.25em 0.5em;
  font-size: 100px;
}

// regular navbar styles
@media (max-width: 576px) {
  .navbar {
  }
}
.navbar {
}

.nav-link {
  color: black;
  margin: 0 1em;
}

.texts-link{
  color: black;
  &:hover {
    color: #ff910c;
    text-decoration: none;
  }
}

.spotlights-link {
  color: black;
  &:hover {
    color: #fff20c;
    text-decoration: none;
  }
}

.home-link:hover {
    color: #6cd642;
}


.videos-link{
  color: black;
  &:hover {
    color: #0c85ff;
    text-decoration: none;
  }
}

.gygos-link {
  color: black;
  &:hover {
    color: #2d0cff;
    text-decoration: none;
  }
}

.contact-link:hover {
  color: #7d0cff;
}

.logout-link:hover,
.signin-link:hover,
.cancel-link:hover,
.login-link:hover,
.signup-link:hover {
  color: #ff0c0c;
}

.save-btn:hover,
.show-btn:hover {
  color: black;
}

// article sections
.article-section {
  margin: 2em;
  padding: 1em 0em;
  h1,
  h2 {
    margin-bottom: 0.5em;
  }
}

.photo-style {
  height: 75px;
  width: 75px;
}

//giving and spotlight show pages
.description-div {
  margin-bottom: 2em;
  margin-top: 2em;
}

.show-wrapper {
  margin-top: 1em;
  margin-bottom: 4em;
  padding-top: 4em;
  padding-bottom: 4em;
}

//social buttons styles
.social-link-wrapper {
   background-color: black;
   padding: 1em;
   border-radius: 100%;
   margin: 1em;
   margin-top: 1em;
}

.social-link img {
  height: 1.5em;
  filter: invert(100%);
}


.facebook-link-wrapper:hover {
  background-color: #3D5B99;
  img {
    filter: invert(0%);
  }
}

.google-plus-link-wrapper:hover {
  background-color: #DB4437;
  img {
    filter: invert(0%);
  }
}

.twitter-link-wrapper:hover {
  background-color: #44A2F2;
  img {
    filter: invert(0%);
  }
}

.pinterest-link-wrapper:hover {
  background-color: #E73E36;
  img {
    filter: invert(0%);
  }
}

.mail-link-wrapper:hover {
  background-color: #37e554;
  img {
    filter: invert(0%);
  }
}

.search-bar {
  text-align: right;
  input#search_query {
    width: 70%;
  }
  input {
    border-radius: 10px;
  }
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

// form(s) styles
.user-form-wrapper,
.login-form-wrapper,
.form-wrapper,
.static-page-wrapper {
  padding: 3em;
  margin-top: 1em;
  margin-bottom: 3em;
}

.signup-form-header h1,
.login-form-header h1 {
  margin-top: 1em;
}

.headline-text {
  height: 2.5em;
}
