<%= render template: 'shared/navbar' %>

<div class="row edit-wrapper">
  <div class="col-sm-8 offset-sm-2">
    <h1>Edit Text Article</h1>
  </div>
  <div class="col-sm-2">
    <%= link_to "Cancel", texts_path %>
  </div>
</div>

<%= render partial: 'form', locals: { text: @text } %>
